@import url("reset.css");

html,
body {
    width: 100%;
    height: 100%;
    font: 13px Tahoma, Arial, Helvetica, Geneva, sans-serif;
    background-color: #fff;
}
body{
    position: relative;
    min-height: 100%;
    height: auto;
    padding-bottom: 100px;
    box-sizing: border-box;
}
p{margin-bottom: 15px;}

h1 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: normal;
}

h2 {
    clear: both;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: normal;
}

h3 {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: normal;
}
*{
    box-sizing: border-box;
}
a { color: #0095eb; }

a:hover { color: #e84d07; }

.clear{
    clear: both;
    display: block;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
    padding: 15px 15px 0 300px;
    box-sizing: border-box;
}
.admin_menu{
    width: 300px;
    position: fixed;
    top: 15px;
    left: 50%;
    margin-left: -585px;
    box-sizing: border-box;
    list-style: none;
    padding: 0 15px;
}
.admin_menu .item{
    padding: 10px 15px;
    background: #eee;
    height: 36px;
    box-sizing: border-box;
}
.add_product{
    padding: 10px 20px;
    display: inline-block;
    background: #b2ea96;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 14px;
    margin: 10px 0;
}
.tiny_products .product{
    border-bottom: 1px solid #b1afaf;
    padding: 10px;
}
.tiny_products .product:nth-child(odd){
    background: #f5f5f5;
}
.tiny_products .product:nth-child(even){
    background: #e4e4e4;
}
.tiny_products .image{
    width: 70px;
    height: 70px;
    line-height: 70px;
    float: left;
    margin-right: 5px;
    text-align: center;
}
.tiny_products .image img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.tiny_products .name{
    height: 70px;
    line-height: 65px;
    float: left;
}
.tiny_products .icons_block{
    float: right;
}
.tiny_products .icons_block .icon{
    float: right;
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    border: none;
    background: none;
    margin-top: 22px;
    outline: 0;
    cursor: pointer;
}
.tiny_products .icons_block .icon.delete_image,
.tiny_products .icons_block .icon.delete{
    background: url(../images/delete.png) no-repeat 50%;
}
.tiny_products .icons_block .icon.show_on_site{
    background: url(../images/show_on_site.png) no-repeat 50%;
}

.footer{
    height: 80px;
    background: #f5f4f4;
    background: #f5f5f5;
    border-top: 1px solid #c3c3c3;
    box-shadow: inset 0 1px 6px 0 #d8d8d8;
    padding: 15px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position:absolute;
    left:0;
    bottom: 0;
    width: 100%;
}

.product_page .name_block{
    margin-bottom: 20px;
}
input.name,
.product_page input[name="name"]{
    width: 100%;
    height: 30px;
    outline: 0;
    padding: 0 10px;
}
.product_page .product_image{
    height: 150px;
    position: relative;
    width: 150px;
    float: left;
    margin: 0 15px 15px 0;
}
.product_page .product_image img{
    max-width: 100%;
    max-height: 100%;
}
.product_page .product_image .alt_block{
    top: 95px;
}
.product_page .product_image .title_block{
    top: 120px;
}
.product_page .product_image .title_block,
.product_page .product_image .alt_block{
    position: absolute;
    left: 5px;
    width: 140px;
    opacity: 0.3;
}
.product_page .product_image input{
    width: 100%;
}
.product_page .product_image:hover .title_block,
.product_page .product_image:hover .alt_block{
    opacity: 1;
}
input[name="main_image_id"]{
    display: none;
}
.main_image_label{
    border: 2px solid #ccc;
}
input[name="main_image_id"]:checked + .main_image_label{
    border: 2px solid red;
}
.product_page .product_image .delete_image,
.product_page .product_image .delete{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    border: none;
    background: none;
    outline: 0;
    cursor: pointer;
    background: url(../images/delete.png) no-repeat 50%;
    display: none;
}
.product_page .product_image:hover .delete_image,
.product_page .product_image:hover .delete{
    display: block
}

.product_page .product_feature{
    height: 100px;
    position: relative;
    border-bottom: 1px solid #ccc;
}
.product_page .product_feature img{
    max-width: 100%;
    max-height: 100%;
}
.product_page .product_feature .delete_image,
.product_page .product_feature .delete{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    border: none;
    background: none;
    outline: 0;
    cursor: pointer;
    background: url(../images/delete.png) no-repeat 50%;
    display: none;
}
.product_page .product_feature:hover .delete_image,
.product_page .product_feature:hover .delete{
    display: block
}

.left_block,
.right_block{
    float: left;
    width: 50%;
}
.left_block{
    padding-right: 15px;
}
.right_block{
    padding-left: 15px;
}
.properties label{
    display: inline-block;
    width: 150px;
}
.properties li{
    margin-bottom: 5px;
}
.properties .text_input{
    padding: 2px;
    width: 260px;
}

label.select_image{
    display: block;
    width: 100%;
    padding: 10px;
    background: #e8e8e8;
}
label.select_image input{outline: 0;}

input[name="apply"]{
    padding: 5px 10px;
    outline: 0;
    display: block;
    margin: 10px auto;
}
/* Страница входа */
.auth_page{
    padding: 0;
}
#auth_form{
    width: 300px;
    height: 176px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #ccc;
    margin-top: -88px;
    margin-left: -150px;
    padding: 10px 15px;
}
#auth_form input[type="text"],
#auth_form input[type="password"]{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    outline: 0;
    margin: 10px 0;
}
#auth_form input[type="submit"]{
    display: block;
    width: 70px;
    height: 30px;
    margin: 10px auto;
}
/* END Страница входа */
.message_success{
    background: #88ea68;
    color: #085f0b;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px dotted #0e860c;
}
.message_error{
    background: #f58c8c;
    color: #a50202;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px dotted #ca3535;
}
